


.login-form{
  width: 50%;
  margin: auto;
  padding: 40px;

}

@media screen and (max-width: 1400px){
  .login-form{
    width: 90%;
    margin: auto;
    padding: 10px;
  
  }
}

.login-form > form{

  display: flex;
  flex-direction: column;

}

.login-form > form > input{

  padding: 14px;
  margin: 15px 0px;
  border-radius: 5px;
  border: none;
  
  
}


.login-form > form > button{
  width: 40%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0px;
  background-color: rgb(12, 126, 126);
  color: white;

}

.login-form > form > div {
  color: rgb(55, 127, 175);
}

.login-form > form > button:hover{
  background-color: rgb(13, 102, 102);
}

.container h1{
  text-align: center;
  color: white;
  padding-top:50px ;
  letter-spacing: 4px;
}